<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.PictureMapper">
    <resultMap id="BaseResultMap" type="com.qfedu.pojo.Picture">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="imgurl" property="imgurl" jdbcType="VARCHAR"/>
        <result column="gid" property="gid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, imgurl, gid
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from picture
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from picture
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.qfedu.pojo.Picture">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into picture (imgurl, gid)
        values (#{imgurl,jdbcType=VARCHAR}, #{gid,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.qfedu.pojo.Picture">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imgurl != null">
                imgurl,
            </if>
            <if test="gid != null">
                gid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imgurl != null">
                #{imgurl,jdbcType=VARCHAR},
            </if>
            <if test="gid != null">
                #{gid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Picture">
        update picture
        <set>
            <if test="imgurl != null">
                imgurl = #{imgurl,jdbcType=VARCHAR},
            </if>
            <if test="gid != null">
                gid = #{gid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Picture">
    update picture
    set imgurl = #{imgurl,jdbcType=VARCHAR},
      gid = #{gid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <insert id="inserts">
        insert into picture values
        <foreach collection="list" separator="," item="picture">
            (null,#{picture.imgurl},#{picture.gid})

        </foreach>


    </insert>
</mapper>