<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
		
		<context:component-scan base-package="com.qfedu.mapper"></context:component-scan>
		<aop:aspectj-autoproxy proxy-target-class="true" ></aop:aspectj-autoproxy>
		
			<!-- 之前我们写在mybatis_confgig中的配置， mappers也需要在这里进行配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">

		<!-- dataSource属性的值是另外一个bean，封装了数据库环境常量 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath:com/qfedu/pojo/*.xml"></property>

		<!-- 指定别名的包 ,会为包下所有的类创建别名，这样在mybatis的xml文件中就可以直接使用这些别名, 生成的别名的名字就是类名首字母小写 -->
		<property name="typeAliasesPackage" value="com.qfedu.pojo" />

		<!-- 在spring环境下使用pageHelper插件，需要指定mybatis的配置文件的路径 -->
		<property name="configLocation" value="classpath:mybatis_conifg.xml"></property>

	</bean>
	<!-- 初始化数据源,并且使用dbcp连接池，c3p0等连接池步骤相同 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/goodsmanage" />
		<property name="username" value="root" />
		<property name="password" value="w7219898" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="0"></property>
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="20"></property>
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="20"></property>
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="1"></property>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="6000"></property>
	</bean>
	<!-- Mybatis MapperScannerConfigurer 自动扫描 将Mapper接口生成代理注入到Spring -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 指定到mybatis的接口所在的包 -->
		<property name="basePackage" value="com.qfedu.mapper" />

		<!-- 还需要指定一个sqlsessionfacotry属性，就是根据这个属性完成对所有接口的代理，并且将代理类保存到ioc容器中,这些代理对象都是可以直接操作数据库的 -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
		</beans>